source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Humanizer 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.af 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.ar 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.bg 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.bn-BD 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.cs 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.da 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.de 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.el 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.es 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.fa 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.fi-FI 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.fr 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.fr-BE 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.he 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.hr 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.hu 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.id 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.it 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.ja 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.lv 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.ms-MY 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.mt 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.nb 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.nb-NO 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.nl 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.pl 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.pt 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.ro 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.ru 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.sk 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.sl 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.sr 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.sr-Latn 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.sv 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.tr 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.uk 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.uz-Cyrl-UZ 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.uz-Latn-UZ 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.vi 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.zh-CN 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.zh-Hans 2.6.2 prerelease restriction: >= net452
nuget Humanizer.Core.zh-Hant 2.6.2 prerelease restriction: >= net452
nuget Microsoft.Azure.KeyVault.Core 1.0.0 prerelease restriction: >= net452
nuget Microsoft.NETCore.Platforms 1.1.0 prerelease restriction: >= net452
nuget NETStandard.Library 1.6.1 prerelease restriction: >= net452
nuget Newtonsoft.Json 12.0.2 prerelease restriction: >= net452
nuget System.Collections 4.3.0 prerelease restriction: >= net452
nuget System.Collections.Concurrent 4.3.0 prerelease restriction: >= net452
nuget System.Diagnostics.Debug 4.3.0 prerelease restriction: >= net452
nuget System.Diagnostics.Tools 4.3.0 prerelease restriction: >= net452
nuget System.Diagnostics.Tracing 4.3.0 prerelease restriction: >= net452
nuget System.Globalization 4.3.0 prerelease restriction: >= net452
nuget System.IO 4.3.0 prerelease restriction: >= net452
nuget System.IO.Compression 4.3.0 prerelease restriction: >= net452
nuget System.Linq 4.3.0 prerelease restriction: >= net452
nuget System.Linq.Expressions 4.3.0 prerelease restriction: >= net452
nuget System.Net.Http 4.3.0 prerelease restriction: >= net452
nuget System.Net.Primitives 4.3.0 prerelease restriction: >= net452
nuget System.ObjectModel 4.3.0 prerelease restriction: >= net452
nuget System.Reflection 4.3.0 prerelease restriction: >= net452
nuget System.Reflection.Extensions 4.3.0 prerelease restriction: >= net452
nuget System.Reflection.Primitives 4.3.0 prerelease restriction: >= net452
nuget System.Resources.ResourceManager 4.3.0 prerelease restriction: >= net452
nuget System.Runtime 4.3.0 prerelease restriction: >= net452
nuget System.Runtime.Extensions 4.3.0 prerelease restriction: >= net452
nuget System.Runtime.InteropServices 4.3.0 prerelease restriction: >= net452
nuget System.Runtime.InteropServices.RuntimeInformation 4.3.0 prerelease restriction: >= net452
nuget System.Runtime.Numerics 4.3.0 prerelease restriction: >= net452
nuget System.Text.Encoding 4.3.0 prerelease restriction: >= net452
nuget System.Text.Encoding.Extensions 4.3.0 prerelease restriction: >= net452
nuget System.Text.RegularExpressions 4.3.0 prerelease restriction: >= net452
nuget System.Threading 4.3.0 prerelease restriction: >= net452
nuget System.Threading.Tasks 4.3.0 prerelease restriction: >= net452
nuget System.Threading.Timer 4.3.0 prerelease restriction: >= net452
nuget System.Xml.ReaderWriter 4.3.0 prerelease restriction: >= net452
nuget System.Xml.XDocument 4.3.0 prerelease restriction: >= net452
nuget WindowsAzure.Storage 9.3.3 prerelease restriction: >= net452